!!!
%html
  %head
    %title Todo
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row-fluid
      .span10.offset1
        .hero-unit.text-center
          %h1
            Track, Organize Derp's Objectives
          %p
            A simple ToDo application inspired by #{ link_to 'arubystory.com', 'http://www.arubystory.com'}
    = yield
